    <!DOCTYPE html>
        <head>
            <title>The Blue Giant</title>
        </head>
        <body>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
  <div class="container">
   <div class="row">
    <div class="col-xs-12">
      <div class="well thick-green-border">
      <h1 id = "bluegia" class="text-center"><b>The Blue Giant</b></h1>
       <img class="pic" src = "https://i.ytimg.com/vi/dWs8Krf3Nl8/maxresdefault.jpg">
       <p> <b><i>The middle temperature of Blue Giants is about from <span class="text-danger"> 10 000° C to 30 000° C.</b></i></span></p>
       <h3> More information about Blue Giants you can find <a href="http://astronom-us.ru/vselennaya/temperatura-i-razmery-zvezd.html"> <b> here </b> </vlink></h3>

            <div>
                <h1><a href="">Django Girls Blog</a></h1>
            </div>

            <div>
                <p><FONT SIZE=5>published: 14.08.2017, 22:51</p>
                <h2><a href="">My first post</a></h2>
                <p><FONT SIZE=5>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>

            <div>
                <p><FONT SIZE=5>published: 14.06.2017, 22:52</p>
                <h2><a href="">My second post</a></h2>
                <p><FONT SIZE=5>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
     </head>
    </body>
 </html>